<!-- DETAIL VIEW -->
<div fxLayout="column">
  <div fxLayoutAlign="center center">
    <video autoplay loop src="/assets/exercises/plank/illustration.mp4" type="video/mp4"></video>
  </div>

  <div fxLayout="row" fxFlexOffset="10px">
    <h3 fxFlexOffset="10%">{{exercise.name}}</h3>
  </div>

  <div fxLayout="row">
    <div fxFlexOffset="10%" fxFlex="30%">
      <p>Sätze: {{ exercise.sets }}</p>
      <p>Belastung: {{ exercise.duration }}s</p>
      <p>Pause: {{ exercise.break }}s</p>
      <p *ngIf="exercise.cadence != null">Kadenz: {{ exercise.cadence}}</p>
    </div>

    <div fxFlex="70%">
      <p>{{ exercise.description }}</p>
    </div>
  </div>
</div>
