<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened [fixedInViewport]="true" fixedTopGap="64">
    <mat-action-list>
      <button mat-list-item
        *ngFor="let e of exercises"
        [class.selected]="e.id == selectedId"
        (click)="showExerciseDetails(e.id)">
        {{e.name}}
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
